<div class="jumbotron" *ngIf="quiz">
  <h2>
    <small *ngIf="quiz.isPreview"><i>PREVIEW MODE OF:</i></small>
    {{quiz.name}}
  </h2>
  <p >You'll have {{quiz.time}} minutes to solve it, minimum score is {{quiz.scoreToPass}}, Good luck</p>
  <a href="/" class="btn btn-primary">Back to dashboard</a>
</div>
<div class="container" *ngIf="mode == 'quiz' && quiz">
  <div class="badge badge-info">Question {{currIndex + 1}} of {{quiz.questions.length}}.</div>
  <h2>{{currIndex + 1}}. <span [innerHTML]="getCurrQuestion().name"></span></h2>
  <div class="row">
    <div class="col-md-6" *ngFor="let answer of getCurrQuestion().answers">
      <div class="option">
        <label class="" [attr.for]="answer.id">
          <input id="{{answer.id}}" type="checkbox" [(ngModel)]="answer.selected"/>
          {{answer.name}}
        </label>
      </div>
    </div>
  </div>
  <hr>
  <div class="text-sm-center">
    <button class="btn btn-default" (click)="goTo(0);">First</button>
    <button class="btn btn-info" (click)="goTo(currIndex - 1);">Prev</button>
    <button class="btn btn-primary" (click)="goTo(currIndex + 1);">Next</button>
    <button class="btn btn-default" (click)="goTo(count - 1);">Last</button>
  </div>
  <div class="text-sm-center">
    <button class="btn btn-success" (click)="mode = 'review'" style="margin-top: 20px">Review and submit</button>
  </div>
</div>

<app-quiz-review [quiz]="quiz" (showQuestion)="showQuestion($event)"
                 *ngIf="mode == 'review' && quiz"></app-quiz-review>
