<div class="container">
  <div class="row">
    <div class="col-sm-4" *ngFor="let question of quiz.questions; let index = index;">
      <div [ngClass]="{'correct': isCorrect(question), 'wrong': isCorrect(question) == false,
       'not-answered': isCorrect(question) == null}"
           (click)="gotoQuestion(question.id)">
        {{index + 1}}. <strong>{{ question.name }}</strong> <hr>
        Your answer: <i>{{ selectedAnswer(question) }}</i> <hr>
        <p *ngIf="!isCorrect(question)">correct answer is: <strong>{{correctAnswer(question)}}</strong></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <h3 [ngStyle]="{'color':isPassed() ? 'green' : 'red'}">
        {{isPassed() ? 'You passed the menu test ! ' : 'You failed:('}}
      </h3>
    </div>
  </div>
</div>
