.correct {
  background-color:lightgreen;
  border:1px solid lightgreen;
  margin:2px 0;
  padding:12px;
}

.wrong {
  background-color:red;
  border:1px solid red;
  margin:2px 0;
  padding:12px;
}

.not-answered {
  background-color:#ffcccc;
  border:1px solid #eeaaaa;
  margin:2px 0;
  padding:12px;
}
