.correct {
  background-color:lightgreen;
  border:1px solid lightgreen;
  margin:2px 0;
  padding:12px;
}

.wrong, .not-answered {
  background-color:red;
  border:1px solid red;
  margin:2px 0;
  padding:12px;
}

.row {
  margin-bottom: 30px;
}
