.answered {
  background-color:lightskyblue;
  border:1px solid lightskyblue;
  margin:2px 0;
  padding:12px;
}

.not-answered {
  background-color:yellow;
  border:1px solid #eae5a6;
  margin:2px 0;
  padding:12px;
}

.offset-sm-4 {
  margin-bottom: 40px;
}

.submitRow {
  margin-top: 30px;
}
