.answered {
  background-color:#039be5;
  border:1px solid #039be5;
  margin:2px 0;
  padding:12px;
}

.not-answered {
  background-color:#ffcccc;
  border:1px solid #eeaaaa;
  margin:2px 0;
  padding:12px;
}
