<div class="container">
  <div class="row">
    <div class="col-sm-4" *ngFor="let question of quiz.questions; let index = index;">
      <div [ngClass]="{'answered': isAnswered(question), 'not-answered': !isAnswered(question)}"
           (click)="gotoQuestion(question.id)">
        {{index + 1}}. <strong>{{ question.name }}</strong> <hr>
        Your answer: <i>{{ selectedAnswer(question) }}</i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <button class="btn btn-lg btn-primary">Submit</button> <br>
        <small>Click on a question to view it</small>
    </div>
  </div>
</div>
