<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="panel-title" style="display: inline">{{ question.name }}</h5>
    <button class="btn btn-info btn-sm" (click)="showQuestion()">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </button>
    <button class="btn btn-default btn-sm" (click)="toggleAnswers()">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </button>
  </div>
  <div class="panel-body" *ngIf="showAnswers">
    <table class="table">
      <tbody>
        <tr *ngFor="let answer of question.answers"
            [ngClass]="{'table-success': answer.isAnswer, 'table-danger': !answer.isAnswer}">
          <td>{{answer.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
