.container {
  margin-top: 30px;
}


.col-md-6 {
  margin-bottom: 20px;
}

.newQuestion {
  margin-top: 20px;
}

#questionAddHeader {
  text-align: center;
}

.alert{
  position: fixed;
  top: 5px;
  left:2%;
  width: 96%;
}
